<?xml version="1.0" ?>

<launch>

  <arg name="port" default="/dev/ttyUSB0"/> -->
  <arg name="tf_ned_to_enu" default="true"/> -->

  <node pkg="um7" type="um7_driver" name="um7_imu" output="screen">
     <param name="port" value="$(arg port)"/>
     <param name="tf_ned_to_enu" value="$(arg tf_ned_to_enu)"/> 
  </node> 

</launch>
